apiVersion: v1
kind: Service
metadata:
  name: shopkaro-service
  namespace: shopkaro   
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 3000
      nodePort: 30000
  selector:
    app: shopkaro
