apiVersion: batch/v1
kind: Job
metadata:
  name: db-migration
  namespace: shopkaro   
spec:
  template:
    spec:
      containers:
      - name: migration
        image: ayushmaan261/shopKaro-migration:1
        imagePullPolicy: Always
        env:
        - name: MONGODB_URI
          value: "mongodb://mongodb-service:27017/shopKaro"
      restartPolicy: OnFailure
